
{% extends "base.html" %}
{% block header %}{% endblock %}
{% block main %}
<div class="container mt-4">
    <h3 class="mb-4 text-center">აქტიური ვაკანსიები</h3>
    <div class="row">
        {% for job in joblist %}
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-primary">{{ job.date_added }}</h5>
                    <h5 class="card-title text-primary">{{ job.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ job.company }}</h6>

                    <p class="card-text mb-1">
                        <strong>ლოკაცია:</strong> {{ job.location }}
                    </p>

                    <p class="card-text mb-1">
                        <strong>ხელფასი:</strong> {{ job.salary }}
                    </p>

                    <p class="card-text">
                        {{ job.job_desc }}
                    </p>

                    <div class="mt-auto">
                        <a href="{{ url_for('job_details', job_id=job.id) }}" class="btn btn-primary w-100">დეტალურად ნახვა</a>
                    </div>

                </div>

                <div class="card-footer text-muted small">
                        ავტორი:
                        <a href="{{ url_for('jobs_by_author', author=job.author) }}" class="text-decoration-none">
                        {{ job.author }}
                        </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <div class="alert alert-info text-center">
                ვაკანსიები ჯერ არ დამატებულა.
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
