{% extends "base.html" %}
{% block main %}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body">

            <h2 class="text-primary">{{ job.title }}</h2>
            <h5 class="text-muted">{{ job.company }}</h5>
            <hr>

            <p><strong>ლოკაცია:</strong> {{ job.location }}</p>
            <p><strong>ხელფასი:</strong> {{ job.salary }}</p>
            <p><strong>დამატების თარიღი:</strong> {{ job.date_added }}</p>
            <p><strong>ავტორი:</strong> {{ job.author }}</p>
            <p><strong>კატეგორია:</strong> {{ job.category }}</p>

            <hr>

            <h5>მოკლე აღწერა</h5>
            <p>{{ job.job_desc }}</p>

            <h5 class="mt-4">დეტალური აღწერა</h5>
            <p>{{ job.job_desc_detailed }}</p>

            <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">
                უკან დაბრუნება
            </a>
                {% if session['username'] == job.author %}
                    <a href="{{ url_for('edit_job', job_id=job.id) }}" class="btn btn-warning">რედაქტირება</a>

                    <form action="{{ url_for('delete_job', job_id=job.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('გინდათ ნამდვილად წაშალოთ ვაკანსია?')">
                            წაშლა
                        </button>
                    </form>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}